In [1]:
#This workbook loads the windfarms data as a csv file, creates a new csv file of the the data fields
#needed for this project, and cleans bad data in the new csv file.

In [2]:
%cd C:\Users\Ken\Documents\KenP\Applications-DataScience\SpringboardCourseWork\CapstoneProject1Repository\09 CapstoneProject1Data\WindfarmData
import warnings
warnings.filterwarnings('ignore')

C:\Users\Ken\Documents\KenP\Applications-DataScience\SpringboardCourseWork\CapstoneProject1Repository\09 CapstoneProject1Data\WindfarmData

In [3]:
#Imports
import pandas as pd
import numpy as np

In [4]:
#Import the csv file

df = pd.read_csv('uswtdb_v1_2_20181001.csv')
df.head()

,case_id,faa_ors,faa_asn,usgs_pr_id,t_state,t_county,t_fips,p_name,p_year,p_tnum,...,t_hh,t_rd,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3073429,missing,missing,4960,CA,Kern County,6029,251 Wind,1987,194,...,-9999.0,-9999.0,-9999.0,-9999.0,2,3,1/1/2012,NAIP,-118.360725,35.083778
1,3071522,missing,missing,4997,CA,Kern County,6029,251 Wind,1987,194,...,-9999.0,-9999.0,-9999.0,-9999.0,2,3,1/1/2012,NAIP,-118.361168,35.081512
2,3073425,missing,missing,4957,CA,Kern County,6029,251 Wind,1987,194,...,-9999.0,-9999.0,-9999.0,-9999.0,2,3,1/1/2012,NAIP,-118.360420,35.084709
3,3071569,missing,missing,5023,CA,Kern County,6029,251 Wind,1987,194,...,-9999.0,-9999.0,-9999.0,-9999.0,2,3,7/31/2016,Digital Globe,-118.364029,35.079418
4,3005252,missing,missing,5768,CA,Kern County,6029,251 Wind,1987,194,...,-9999.0,-9999.0,-9999.0,-9999.0,2,3,11/23/2017,Digital Globe,-118.354286,35.085594

In [5]:
#Create a new dataframe of the fields needed for this project
df2 = df[['t_state','t_county','t_fips','p_name','p_year','p_tnum','p_cap','xlong','ylat']]
df2.head()

,t_state,t_county,t_fips,p_name,p_year,p_tnum,p_cap,xlong,ylat
0,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.360725,35.083778
1,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.361168,35.081512
2,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.360420,35.084709
3,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.364029,35.079418
4,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.354286,35.085594

In [6]:
#Rename the columns
column_labels_list = ['state', 'county', 'fips', 'project_name', 'project_op_year',
                      'windmills_count', 'capacity', 'longitude', 'latitude']

df2.columns = column_labels_list
df2.head(2)

,state,county,fips,project_name,project_op_year,windmills_count,capacity,longitude,latitude
0,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.360725,35.083778
1,CA,Kern County,6029,251 Wind,1987,194,18.43,-118.361168,35.081512

In [7]:
#Group the rows by "project_name" (windfarm level)

df3 = df2
df3 = df3.reset_index()
df3 = df3.set_index('project_name')

df3 = df2.groupby(['state','county','fips','project_name'])

In [8]:
#Write the dataframe out to a csv file
out_csv = 'project1_windfarm_data_grouped_by_project_name.csv'
df3.sum().reset_index().to_csv(out_csv)

In [9]:
#Evaluate the data for cleanliness
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58185 entries, 0 to 58184
Data columns (total 9 columns):
state              58185 non-null object
county             58185 non-null object
fips               58185 non-null int64
project_name       58185 non-null object
project_op_year    58185 non-null int64
windmills_count    58185 non-null int64
capacity           58185 non-null float64
longitude          58185 non-null float64
latitude           58185 non-null float64
dtypes: float64(3), int64(3), object(3)
memory usage: 4.0+ MB

In [10]:
#Evaluate data for cleanliness (continued)

#Identify cells populated with the word 'missing'
state_bad_data = len(df2[df2.state == 'missing'])
print('state bad data: ' + str(state_bad_data))

county_bad_data = len(df2[df2.county == 'missing'])
print('county bad data: ' + str(county_bad_data))

fips_bad_data = len(df2[df2.fips == 0])
print('fips id bad data: ' + str(fips_bad_data))

project_name_bad_data = len(df2[df2.project_name == 'missing'])
print('project name bad data: ' + str(project_name_bad_data))

project_op_year_bad_data = len(df2[df2.project_op_year == 0])
print('project op year id bad data: ' + str(project_op_year_bad_data))

windmills_count_bad_data = len(df2[df2.windmills_count == 0])
print('windmills count bad data: ' + str(windmills_count_bad_data))

capacity_bad_data = len(df2[df2.capacity == 0])
print('capacity bad data: ' + str(capacity_bad_data))

longitude_bad_data = len(df2[df2.longitude == 0])
print('longitude bad data: ' + str(longitude_bad_data))

latitude_bad_data = len(df2[df2.latitude == 0])
print('latitude bad data: ' + str(latitude_bad_data))

state bad data: 0
county bad data: 0
fips id bad data: 0
project name bad data: 0
project op year id bad data: 0
windmills count bad data: 0
capacity bad data: 0
longitude bad data: 0
latitude bad data: 0